/* Tabs
---------------------------------------------------------*/
.carousel-container {
    width: 750px;
    height: 350px;
}
    .carousel-container .ui-tabs {
	    width: 100%;
	    height: 100%;
	    margin: auto;
	    padding: 0;
	    position: relative;
	    overflow: hidden;
    }
        .carousel-container .ui-tabs-panel {
	        display: block;
	        border-width: 0;
	        background: none;
	        width: 100%;
	        height: 100%;
	        margin: auto;
	        padding: 0;
	        position: absolute;
	        top: 0;
	        left: 0;
	        overflow: hidden;
        }
			.carousel-container .ui-tabs-panel .carousel-slide-header {
				position: absolute;
				top: 0;
				left: 0;
				background: #000;
				color: #fff;
				padding: 2.5%;
				width: 95%;
				margin: 0;
			}
        

        .carousel-container .ui-tabs .ui-tabs-nav {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
            .carousel-container .ui-tabs .ui-tabs-nav .carousel-control {
                float: left;
                margin-right: 5px;
            }
            .carousel-container .ui-tabs .ui-tabs-nav span {
                display: none;
            }
            .carousel-container .ui-tabs .ui-tabs-nav a {
                display: block;
                background: #fff;
                border: 2px solid #fff;
                padding: 7px;
            }
            .carousel-container .ui-tabs .ui-tabs-nav .ui-state-hover a,
            .carousel-container .ui-tabs .ui-tabs-nav .ui-state-active a {
                background: #000;
            }


.ui-tabs .ui-tabs-hide {
	display: none !important;
}
